.box {
    background: white;
    width: 100%;
}

.box-money {
    font-size: 1.6rem;
    color: #f29600;
}

.box-in > div {
    padding: 1rem;
    float: left;
    margin: 1rem auto auto 0.8rem;
    text-align: center;
    width: 10rem;
    height: 4.5rem;
    border: 0.1rem solid #E0E0E0;
}

.box-in > div > img {
    width: 2rem;
    height: 2rem;
    margin: auto 1rem auto -1rem;
}

.box-in > div > span {
    font-size: 1.3rem;
    margin-right: -1rem;
    margin-left: -0.5rem;
    padding-left: 0.6rem;
    border-left: 1px solid #f29600;
}

.box-title {
    font-size: 2rem;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: 0;
    height: 15rem;
}

.hot-title {
    float: left;
    padding: 0;
    width: 100%;
}

.hot {
    float: left;
    padding-left: 0;
    margin: 1rem 1rem 1rem 0.8rem;
    padding-right: 1rem;
    border-right: 0.17rem solid #999999;
}

.click {
    float: left;
    margin-top: 0.9rem;
}

.click > button {
    padding: 0;
    width: 5.3rem;
    margin-left: 0.4rem;
    height: 2rem;
    font-size: 0.5rem;
    text-align: center;
    border: 0;
    background: #999999;
}

.box-content {
    margin: 1rem auto 1rem 0.8rem;
    border-top: 0.17rem solid #f29600;
    float: left
}

.text-right {
    margin-top: 1rem;
    float: right;
    margin-right: 0.8rem;
}

html, body, #sticker {
    height: 100%;
}

body > #sticker {
    height: auto;
    min-height: 100%;
}

#stickerCon {
    padding-bottom: 40px;
}

#footer {
    margin-top: -40px;
    height: 40px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    color: #ABA498;
    font-size: 12px;
    background: #fafafa;
    border-top: 1px solid #E7E7E7;
}

.navbar {
    *position: relative;
    *z-index: 2;
    margin-bottom: 20px;
    overflow: visible;
}

.efefef {
    margin: 1rem auto;
    width: 100%;
    background: #efefef;
    height: 0.5rem;
    float: left;
    border: 0.15rem solid #efefef
}

.box-white,
div.efefef {
    padding: 0.5rem;
    height: 3rem;
    margin: 0;
    width: 100%;
    float: left;
    background: #efefef;
    font-size: 1.6rem
}

.box-white {
    height: 3.5rem;
    background: white;
    font-size: 1.4rem;
    border-bottom: 0.1rem solid #e0e0e0;
    padding: 1rem;
}

.box-white-bottom {
    margin-top: 1rem;
    height: 7rem;
    background: white;
    font-size: 1rem;
    border-top: 0.1rem solid #e0e0e0;
    padding: 1rem;
}

.box-white-c {
    height: 3.5rem;
    background: white;
    font-size: 1.4rem;
    border-bottom: 0.1rem solid #f29600;
    padding: 1rem;
}

.box-white > span {
    float: right;
    font-size: 1.2rem;
}

.box-img {
    width: 4rem;
    height: 4rem;
    background: #f29600;
    float: left;
    margin: 2rem 0.5rem 0 1rem;
    padding: 1rem
}

.box-img > img {
    width: 2rem;
    height: 2rem;
}

.box-right {
    width: 1rem;
    float: left;
    margin: 2.5rem 0.2rem 0 0;
    padding: 0.5rem
}

.box-right > img {
    width: 1rem;
    height: 2rem;
}

.bottom-text {
    font-size: 1.2rem;
    float: left;
    width: 6rem;
    margin-right: 0.6rem;
}

.box-gray {
    text-align: center;
    background: #efefef;
    float: left;
    width: 100%;
    height: 15rem;
    padding-top: 1rem
}

.box-detail {
    border: 0.1rem solid #e0e0e0;
    width: 100%;
    height: 10rem
}

.title-left {
    width: auto;
    padding: 0.2rem 1rem 0.2rem 1rem;
    background: #efefef;
    float: left;
}

.text-help {
    margin: 3rem 2rem auto 2rem;
    font-size: 1.2rem;
    color: #999999;
}

.star > div > img {
    width: 6rem;
    height: 1rem;
}

.order-title {
    padding: 0.25rem;
    height: 2rem;
    margin: 2rem 0.8rem 1rem 0.8rem;
    background: #efefef;
    border: 0.1rem solid #e0e0e0;
}

.order-title > div {
    font-size: 1rem;
    text-align: center;
    border-right: 0.1rem solid #e0e0e0;
    float: left;
    width: 20%;
}

.order-title > div > button {
    width: 80%;
    height: auto;
    border: 0;
    margin: 0.4rem;
}

.order-title-in {
    padding: 0.25rem;
    height: 2rem;
    margin: 0;
    background: #efefef;
    width: 100%;
}

.order-title-in > div {
    font-size: 1rem;
    float: left;
}

.order-detail {
    width: 70%;
    padding: 0.5rem;
    float: left;
    margin-top: -6.7rem;
    height: 7rem;
    border-top: 0.1rem solid #e0e0e0;
}

.order-detail > div {
    border-left: 0.3rem solid #efefef;
    padding-left: 0.3rem;
    font-size: 1rem;
    text-align: left;
}

.box-bottom {
    margin: 0.8rem;
    height: 20rem;
    border: solid 0.1rem #e0e0e0;
    float: left;
    width: 95%;
    padding: 0.5rem;
    text-align: center;
}

.box-bottom > div {
    float: left;
    width: 50%;
    height: auto;
    padding: 0.5rem;
}

.box-bottom-img > div > img {
    float: left;
    margin: 0.5rem 0 0.5rem 0;
    width: 2rem;
}

.box-bottom-img > div {
    margin-top: 1rem;
    float: left;
    width: 100%;
}

#main {
    width: 20%;
    margin: 0 auto;
    background-color: #CCC;
}

#nav {
    border-top: solid 0.1rem #e0e0e0;
    width: 110%;
    position: absolute;
    bottom: 0;
    margin-left: -10%;
    position: fixed;
    /*ie6下样式，加下划线表示只针对ie6 的hack */
    _position: absolute;
    _top: expression(documentElement.scrollTop + "100px");
    z-index: 9999;
    text-align: left;
}

.menu > button {
    color: #000000;
    text-decoration: none;
    width: 100%;
    height: 100%;
    border: 0
}

.menu {
    width: 25%;
    height: 5rem;
    background-color: #efefef;
    color: #000000;
    overflow-y: hidden;
    cursor: hand;
    display: inline;
    list-style: none;
    font-weight: bold;
    float: left;
}

.menu-buy {
    width: 40%;
    padding: 1rem;
    text-align: center;
    font-size: 2.4rem;
    background: #f29600;
    height: 5rem;
    color: #ffffff;
    overflow-y: hidden;
    cursor: hand;
    display: inline;
    list-style: none;
    font-weight: bold;
    float: left;
}

.menu > button > img {
    width: 50%;
}

.login {
    text-align: center;
    width: 100%;
    padding: 0;
}

.login-title > img {
    margin: 4rem 0 1rem 0;
    width: 5rem;
}

.login-input > input {
    padding-left: 4rem;
    border: 0.1rem solid #999999;
    width: 23rem;
    height: 3rem;
    margin-top: 1rem;
}

.login-button > button {
    width: 23rem;
    height: 3rem;
    background: #f29600;
    color: white;
    font-size: 1.6rem;
    text-align: center;
    border: 0;
    margin-top: 4rem;
}

.login-button {
    width: 23rem;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid #e0e0e0;
    margin: auto auto 1rem;
}

.login-bottom {
    font-size: 1rem;
    width: 23rem;
    text-align: left;
    margin: auto;
}

.button-time {
    border: 0.1rem solid #e0e0e0;
    color: #666;
    background-color: #ffffff;
    font-size: 1rem;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
    text-align: center;
    width: 5rem;
    margin-right: 1rem;
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box;
    transition-property: all;
    transition-duration: .3s;
}

li.active {
    border-bottom: 0.2rem solid #f29600;
}

.evaluation {
    margin: 1rem 1rem 0 1rem;
    width: 8rem;
    border: 0.1rem solid #f29600;
    background: #fdf4e8;
    color: #f29600;
    text-align: center;
}

.eva-in {
    float: left;
    margin: 1rem;
    border: 0.1rem solid #efefef;
    font-size: 1rem;
    padding: 1rem;
    color: #999999;
}

.eva-img > img {
    width: 6rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

select {
    width: 6rem;
    border: solid 0.1rem #e0e0e0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;
    padding-right: 14px;
    border-radius: 0;
}

select > option {
    color: white;
}

select::-ms-expand {
    display: none;
}

ul.time > li {
    border: 0.1rem solid #e0e0e0;
    background: #fff;
    width: 5rem;
}
ul.time > li.active {
    border: 0.1rem solid #e0e0e0;
    background: #f29600;
    color: #ffffff;
}

.nav > li {
    width: 5rem;
    position: relative;
    display: block;
    margin-left: 1rem;
}