.box-in > div {
    padding: 1rem;
    float: left;
    margin: 1rem auto auto 0.8rem;
    text-align: center;
    width: 10rem;
    height: 4.5rem;
    border: 0.1rem solid #E0E0E0;
}

.box-in > div > img {
    width: 2rem;
    height: 2rem;
    margin: auto 1rem auto -1rem;
}

.box-in > div > span {
    font-size: 1.3rem;
    margin-right: -1rem;
    margin-left: -0.5rem;
    padding-left: 0.6rem;
    border-left: 1px solid #f29600;
}

.box-title {
    font-size: 2rem;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: 0;
    height: 12rem;
}

.hot-title {
    float: left;
    padding: 0;
    width: 100%;
}

.hot {
    float: left;
    padding-left: 0;
    margin: 1rem 1rem 1rem 0.8rem;
    padding-right: 1rem;
    border-right: 0.17rem solid #999999;
}

.click {
    float: left;
    margin-top: 0.9rem;
}

.click > button {
    padding: 0;
    width: 5.3rem;
    margin-left: 0.4rem;
    height: 2rem;
    font-size: 0.5rem;
    text-align: center;
    border: 0;
    background: #999999;
}

.box-content {
    margin: 1rem auto 1rem 0.8rem;
    border-top: 0.17rem solid #f29600;
    float: left
}

.text-right{
    margin-top: 1rem;
    float: right;
    margin-right: 0.8rem;
}