{% extends "layout.html" %}
{% block head %}
        <div class="head" style="padding: 0">
        <br>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="/static/images/img_flower.jpg" alt="" width="100%" height="12rem">
                </div>

                <div class="item">
                    <img src="/static/images/img_flower.jpg" alt="" width="100%" height="12rem">
                </div>

                <div class="item">
                    <img src="/static/images/img_flower.jpg" alt="" width="100%" height="12rem">
                </div>

                <div class="item">
                    <img src="/static/images/img_flower.jpg" alt="" width="100%" height="12rem">
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="body">
        <div class="box-in" style="padding: auto;margin: 2rem auto">
            <div><img src="/static/images/money.png"><span>这是一个框</span></div>
            <div><img src="/static/images/law.png"><span>这是一个框</span></div>
            <div><img src="/static/images/two.png"><span>这是一个框</span></div>
            <div><img src="/static/images/IT.png"><span>这是一个框</span></div>
            <div><img src="/static/images/law.png"><span>这是一个框</span></div>
            <div><img src="/static/images/login.png"><span>这是一个框</span></div>
        </div>
    </div>
    <div class="box-title">
        <div><strong>热门服务</strong></div>
    </div>
{% endblock %}
    <script></script>
{% block custom_js %}{% endblock %}