{% extends "layout.html" %}
{% block head %}
    <div class="head" style="padding: 0">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="/static/images/20160427  图片素材-03.png" alt="">
                </div>

                <div class="item">
                    <img src="/static/images/20160427  图片素材-13.png" alt="">
                </div>

                <div class="item">
                    <img src="/static/images/20160427  图片素材-23.png" alt="">
                </div>

                <div class="item">
                    <img src="/static/images/20160427  图片素材-33.png" alt="">
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="body">
        <div class="box-in" style="margin: 1rem auto">
            <div><img src="/static/images/money.png"><span>财税云服务</span></div>
            <div><img src="/static/images/law.png"><span>法律云服务</span></div>
            <div><img src="/static/images/two.png"><span>人事云服务</span></div>
            <div><img src="/static/images/IT.png"><span>IT云服务</span></div>
            <div><img src="/static/images/law.png"><span>一站式服务</span></div>
            <div><img src="/static/images/login.png"><span>财务登录</span></div>
        </div>
    </div>
    <div class="hot-title">
        <div class="hot">
            <strong style="float: left;font-size: 1.6rem">热门服务</strong>
        </div>
        <div class="click">
            <button class="button button-tiny button-border button-primary" style="color: white;">财&nbsp;&nbsp;务
            </button>
            <button class="button button-tiny button-border button-primary" style="color: white;">法&nbsp;&nbsp;律
            </button>
            <button class="button button-tiny button-border button-primary" style="color: white;">人&nbsp;&nbsp;事
            </button>
            <button class="button button-tiny button-border button-primary" style="color: white;">I&nbsp;&nbsp;&nbsp;T
            </button>
        </div>
    </div>
    <hr style="margin: 0 0.8rem 0 0.8rem;width:94%;float:left;border:0.15rem solid #f29600"/>
    <div id="content"></div>
    <div class="hot-title">
        <div class="hot">
            <strong style="float: left;font-size: 1.6rem">成功案例</strong>
        </div>
        <div class="text-right">
            更多>
        </div>
    </div>
    <hr style="margin: 0 0.8rem 0 0.8rem;width:94%;float:left;border:0.15rem solid #f29600"/>
    <div id="success"></div>
    <div class="hot-title">
        <div class="hot">
            <strong style="float: left;font-size: 1.6rem">合作伙伴</strong>
        </div>
        <div class="text-right">
            更多>
        </div>
    </div>
    <hr style="margin: 0 0.8rem 0 0.8rem;width:94%;float:left;border:0.15rem solid #f29600"/>
    <div id="cooperation"></div>
    <div class="box-in" style="margin: 1rem auto 1rem auto">
        <div style="height: 4rem;margin-bottom: 1rem"><img src="/static/images/OK.png"><span>OK帮</span></div>
        <div style="height: 4rem;margin-bottom: 1rem"><img src="/static/images/pretty.png"><span>美丽顾问</span></div>
        <div style="height: 4rem;margin-bottom: 1rem"><img src="/static/images/OK.png"><span>OK帮</span></div>
    </div>
    <div></div>
{% endblock %}

{% block custom_js %}
    <script src="../static/js/FinanceBox.js" type="text/babel"></script>
    <script src="../static/js/SuccessBox.js" type="text/babel"></script>
    <script type="text/babel"></script>
{% endblock %}