{% extends 'layout.html' %}
{% block head %}
    <div class="order-title">
        <div style="width: 30%">订单</div>
        <div>实付金额</div>
        <div>交易状态</div>
        <div style="width: 30%;border:0">交易操作</div>
    </div>
{% endblock %}
{% block content %}
    <div id="content"></div>
    <div id="nav" style="margin-top: -40.5%">
        <ul>
            <li class="menu">
                <button class="button button-tiny button-border button-primary" href="http://127.0.0.1:8080/index">
                    <img src="/static/images/home.png">
                    <div>首&nbsp;&nbsp;&nbsp;&nbsp;页</div>
                </button>
            </li>
            <li class="menu">
                <button class="button button-tiny button-border button-primary" href="http://127.0.0.1:8080/user/1234">
                    <img src="/static/images/home.png">
                    <div>个人中心</div>
                </button>
            </li>
            <li class="menu">
                <button class="button button-tiny button-border button-primary" href="http://127.0.0.1:8080/order/1234">
                    <img src="/static/images/home.png">
                    <div>我的订单</div>
                </button>
            </li>
            <li class="menu">
                <button class="button button-tiny button-border button-primary" href="#">
                    <img src="/static/images/home.png">
                    <div>免费电话</div>
                </button>
            </li>
        </ul>
    </div>
{% endblock %}
{% block custom_js %}
    <script type="text/babel" src="/static/js/Order.js"></script>
    <script type="text/babel"></script>
{% endblock %}