{% extends 'login.html' %}
{% block js %}
    <script>
        function login() {
            try {
                var name = document.getElementById("name").value;
                if (!name) throw "请输入手机号码";
                if (isNaN(name)) throw "请输入正确的手机号码";
                if (name.length != 11) throw "请输入正确的手机号码";
            }
            catch (err) {
                var mess = document.getElementById("mess");
                mess.innerHTML = err + "。";
            }
            var pw1, pw2;
            pw1 = document.getElementById("pw1").value;
            pw2 = document.getElementById("pw2").value;
            if (pw1.length < 8) {
                alert("密码必须大于8位，请重新输入！");
                return;
            }
            if (!(pw1 == pw2 && pw2 != '')) {
                alert("两次输入的密码不一致，请重新输入！");
                return;
            }
        }
    </script>
{% endblock %}
{% block content %}
    <div class="login">
        <div>
            <div class="login-input"><input id="name" placeholder="手机号"/></div>
            <p id="mess" style="font-size: 1rem;color: red"></p>
            <div class="login-input"><input id="name" placeholder="验证码"/>
                <a style="color: #f29600;border-left: 0.1rem solid #999999;
                   padding:0 1rem 0 1rem;margin-left: -8.3rem">获取验证码
                </a>
            </div>
            <div class="login-input"><input id="pw1" placeholder="密&nbsp;&nbsp;&nbsp;码" type="password"/>
            </div>
            <div class="login-input"><input id="pw2" placeholder="确认密码" type="password"/>
            </div>
            <div class="login-bottom">
                注册表示同意<a style="color: #f29600">《企业湾代记账平台用户协议》</a>
            </div>
            <div class="login-button">
                <button onclick="login()">注&nbsp;&nbsp;&nbsp;册</button>
            </div>
            <div class="login-bottom">
                <a style="color:#f29600;float: right">登录已有账户</a>
            </div>
        </div>
    </div>
{% endblock %}