{% extends 'layout.html' %}
{% block content %}
    <div class="efefef" style="height: 100%;padding: 0" id="content">
        <div class="box-white" style="margin-top: 2%;height: 7rem;border:0">
            <img src="/static/images/head.png" style="width: 5rem;height: 5rem">
            上海知佳信息科技有限公司
        </div>
        <div class="box-white" style="margin-top: 1rem">企业咨询
            <span>&nbsp;&nbsp;&nbsp;></span>
        </div>
        <div class="box-white">所有订单
            <span>&nbsp;&nbsp;&nbsp;></span>
        </div>
        <div class="box-white">已付款订单
            <span style="color: #999999">></span>
        </div>
        <div class="box-white">成交订单
            <span style="color: #999999">></span>
        </div>
        <div class="box-white" style="border: 0">历史订单
            <span style="color: #999999">></span>
        </div>
        <div class="box-white" style="border: 0;text-align: center;color: #f29600;margin-top: 1rem;">退出登录
        </div>
        <div id="nav" style="margin-top: 146%">
            <ul>
                <li class="menu">
                    <button class="button button-tiny button-border button-primary" href="http://127.0.0.1:8080/index">
                        <img src="/static/images/home.png">
                        <div>首&nbsp;&nbsp;&nbsp;&nbsp;页</div>
                    </button>
                </li>
                <li class="menu">
                    <button class="button button-tiny button-border button-primary"
                            href="http://127.0.0.1:8080/user/1234">
                        <img src="/static/images/home.png">
                        <div>个人中心</div>
                    </button>
                </li>
                <li class="menu">
                    <button class="button button-tiny button-border button-primary"
                            href="http://127.0.0.1:8080/order/1234">
                        <img src="/static/images/home.png">
                        <div>我的订单</div>
                    </button>
                </li>
                <li class="menu">
                    <button class="button button-tiny button-border button-primary" href="#">
                        <img src="/static/images/home.png">
                        <div>免费电话</div>
                    </button>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}